$main-content-color: #234e33;
$secondary: #d4af37;
$accent: #6b2c70;
.contact {
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $secondary;
  gap: 1.5rem;
}
.contact-us {
  margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
  .contact {
    font-size: 1.5rem;
  }
}
